* {
  box-sizing: border-box;
  transition: all 0.2s;
}

html {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

body {
  padding: 0px;
  margin: 0px;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  min-width: 320px;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app .header {
  padding: 10px 30px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
}
h1 {
  margin: 0px;
  font-size: 24px;
}

.app .main {
  flex: 1;
  padding: 30px;
}

.app .footer {
  padding: 30px;
  text-align: center;
  background-color: silver;
  color: gray;
}

/* SPINNER*/

@keyframes rotating-animation {
  to {
    transform: rotate(360deg);
  }
}
.spinner {
  border: 4px solid #f44336;
  border-top: 4px solid transparent;
  border-radius: 200px;
  width: 16px;
  height: 16px;
  animation-name: rotating-animation;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* TOAST */

.toasts-container {
  z-index: 99;
  position: fixed;
  top: 0px;
  right: 0px;
  height: 0px;
  width: 0px;
  overflow: visible;
}
.toasts-container .toast {
  position: absolute;
  top: 30px;
  right: 30px;
  border-radius: 200px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  background-color: gray;
  background-color: #64a46c;
  color: white;
  font-weight: 600;
  opacity: 1;
  animation-name: fading-animation;
  animation-duration: 2s;
}

@keyframes fading-animation {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* MODAL */

.modals-container {
  z-index: 99;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 0px;
  width: 0px;
  overflow: visible;
}

.modals-container .close {
  z-index: 9999;
  position: absolute;
  top: 10px;
  left: 10px;
  height: 16px;
  width: 16px;
  background-color: #f44336;
  color: white;
  font-size: 18px;
  text-align: center;
  line-height: 16px;
}
.modals-container .close:hover {
  cursor: pointer;
}

.modals-container .modal-bg {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.modals-container .modal {
  min-width: 240px;
  min-height: 120px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  background-color: white;
  opacity: 1;
  animation-name: bump-animation;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
}

.modal .modal-content {
  max-width: 320px;
}

@keyframes bump-animation {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* FORMS */
.form-box {
  max-width: 320px;
  padding: 15px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-row {
  display: flex;
  flex-direction: row;
}
.form-row > div {
  width: 48%;
}
.form-row > div:first-child {
  margin-right: 4%;
}

.form-group {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

input[type="text"],
input[type="number"] {
  border: 1px solid #f44336;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 600;
  width: unset;
}
input[type="number"] {
  text-align: right;
  padding-right: 1px;
}
input::placeholder {
  color: rgba(192, 192, 192, 1);
}
label {
  color: #f44336;
  padding-left: 4px;
  font-size: 14px;
  font-weight: 400;
  width: unset;
}

.form-box h4 {
  display: block;
  margin: 0px;
}

.search-form-box {
  border: 2px solid #f44336;
  border-radius: 200px;
  padding: 6px 10px;
}
.search-form-box input {
  border: 0px;
  outline: 1px dashed green;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.btn {
  border: 2px solid #f44336;
  border-radius: 4px;
  min-width: 120px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  min-height: 10px;
  margin-bottom: 5px;
}
.btn:hover {
  background-color: #f44336;
  color: white;
  cursor: pointer;
}

.btn-inline {
  display: inline-block;
  margin-right: 10px;
}

/* FILTER */
.filter {
  padding-top: 0px;
  padding-bottom: 20px;
}
.filter > div {
  display: inline;
  margin-right: 20px;
  color: gray;
  font-weight: 600;
  cursor: pointer;
}
.filter > .active {
  color: #f44336;
  font-weight: 700;
}
.filter > .title {
  color: black;
  font-weight: 600;
  cursor: default;
}

/* ITEMS */

.items-group {
  border-top: 1px solid silver;
  padding-top: 5px;
    margin-bottom: 20px;
}

.item {
  margin-bottom: 10px;
}

.item .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.item .position span {
  display: inline-block;
  max-width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 20px;
  font-size: 13px;
  vertical-align: middle;
}
